*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;
    color: black;
}

#wrapper{

}

#header{
    display: flex;
    flex-direction: column;
    justify-content: center; /*vertical*/ 
    border: 1px solid black;
    width: 100%;
    height: 100px;
    background-color: #333;
    align-items: flex-end;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
    gap: 5%;
    width: 50%;
}

.btn{
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    text-decoration: none;
}

#header .buttons a{
    color: white;
    text-decoration: none;
    border: 1px solid black;
    flex-grow: 1;
    transition: 0.5s;
}

#header .buttons a:hover{
    transition: 0.5s;
    color:blueviolet;
}

#main{
    display: flex;
    flex: 1;
    width: 100%;
    flex-wrap: wrap;
}

#hero-text{
    display: flex;
    flex-direction: column;
    padding: 5%;
    border: 1px solid black;
}

#hero-text h1{
    font-size: 2.5em;
    color: blueviolet;
}

#hero-text .btn{
    width: 23%;
}

.box{
    width: 50%;
    height: 414px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
}


.textbox{
    padding: 5%;
}

.codebox{
    padding: 5%;
    border: 1px solid black;
    border-radius: 10px;
}

button{
    background-color: transparent;
    padding: 5px;
    transition: 0.5s;
}

button:hover{
    transition: 0.5s;
    background-color: white;
    color: blueviolet;
}

#outputBox1, #outputBox2{
    display: none;
    border: 1px solid black;
    padding: 2%;
}

#outputBox1.visible, #outputBox2.visible{
    display: block;
}